.logo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

.carrousel {
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
}

.logo-slide {
  width: max-content;
  display: flex;
  animation: 20s slide infinite linear;
}

.logo-slide span {
  background-color: #EFEFF0;
  width: 2px;
  height: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  z-index: 1;
}

.logo::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  z-index: 1;
}


@media (max-width: 640px) {

  .logo::before,
  .logo::after {
    width: 50px;
  }
}

@media (max-width: 768px) {

  .logo::before,
  .logo::after {
    width: 100px;
  }
}

@media (max-width: 1024px) {

  .logo::before,
  .logo::after {
    width: 150px;
  }
}

@media (min-width: 1024px) {

  .logo::before,
  .logo::after {
    width: 250px;
  }
}