@tailwind base;
@tailwind components;
@tailwind utilities;

/* Temporary Style */
body {
  margin-bottom: 200px;
}



h1 {
  text-shadow: -1px 0 #999, 0 1px #999, 1px 0 #999, 0 -1px #999;

}

#navbar {
  mask: linear-gradient(black, black, transparent);
}